body {
  background: #fff;
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333;
  }

/* --------------------------------------
  Typography
----------------------------------------- */
input, select, textarea  {
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }

h1 { font-size: 18px; line-height: 24px; margin: 10px 0; }
h2 { font-size: 20px; line-height: 24px; margin: 10px 0; font-weight: bold; }
h3 { font-size: 16px; margin: 10px 0; }
h5 { font-size: 13px; margin: 10px 0; }
h6 { font-size: 11px; margin: 0; }

#header h1 {
  float: left;
  margin-left: 130px;
  font-size: 14px;
  line-height: 18px;
  }
h2.title {
  margin: 20px 0 10px;
  }
small {
  font-size: 11px;
  line-height: 16px;
  }
strong {
  font-weight: bold;
  }
em {
  font-style: italic;
  }
a {
  color: #18b;
  text-decoration: none;
  }
a.close,
.icon {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: block;
  text-indent: -999em;
  }

/* Table styling */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  }
table th,
table td {
  padding: 4px 5px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #D4D4D0;
  }
table th {
  font-weight: bold;
  vertical-align: bottom;
  }
table td {
  vertical-align: top;
  }
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
  }
table tbody + tbody {
  border-top: 2px solid #D4D4D0;
  }

.table {
  background: #fff;
  height: 265px;
  }
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
  width: 20%;
  }
.table td {
  vertical-align: top;
  }
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  }
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
  }
.table thead:first-child tr th,
.table thead:first-child tr td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
  }

/* --------------------------------------
  Page Layout and basic styling
----------------------------------------- */
#header {
  background: #333;
  height: 40px;
  border-bottom: 1px solid #999;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  position: relative;
  z-index: 1000;
  padding: 10px;
  }
  #header a {
    float: left;
    }
  #header a.rw {
    background: transparent url(images/sprite.png) no-repeat 0 0;
    width: 110px;
    height: 30px;
    display: block;
    position: absolute;
    text-indent: -999em;
    top: 15px;
    left: 15px;
    }

#interactive {
	position: relative;
  height: 560px;
  }
#map-container {
  background: #fff url(images/bg.png) repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  }
#map-bg,
#map {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  }
#sidebar {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 30%;
  height: 100%;
  background: #fff;
  border-left: 1px solid #D4D4D0;
  border-right: 1px solid #D4D4D0;
  -moz-box-shadow: 0 -8px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 -8px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 -8px 8px rgba(0, 0, 0, .3);
  }
  #sidebar-inner {
    padding-bottom: 110px;
    overflow: auto;
    height: 480px;
    }
#slider {
  background: white;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #999;
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .15);
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .15);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .15);
  }
.inner {
	padding: 0 10px;
  }

/* --------------------------------------
  Map
----------------------------------------- */
#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: 1px solid #999;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  height: 50px;
  z-index: 50;
  width: 60px;
  }
  #controls a {
    font: bold 13px/28px 'Helvetica Neue', Helvetica, sans-serif;
    color: #404040;
    }
    #controls a:active {
      box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -moz-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -webkit-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      }
    #controls a.share {
      position: absolute;
      display: block;
      right: 0;
      top: 22px;
      width: 50px;
      padding: 0 5px;
      height: 27px;
      border-top: 1px solid #999;
      text-align: center;
      }
    #controls a.zoomer {
      text-decoration: none;
      position: absolute;
      text-align: center;
      width: 30px;
      height: 22px;
      line-height: 22px;
      top: 0;
      left: 0;
      -moz-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      transition: color 0.1s linear;
      z-index: 100;
      }
    #controls a.zoomout {
      left: 29px;
      border-left: 1px solid #ccc;
      }
    #controls a.zoomdisabled:active,
    #controls a.zoomdisabled {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #ccc;
      cursor: default;
      }

/* Map Teaser Tooltips */
.wax-tooltip {
  position: absolute;
  height: auto;
  background: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .45);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  width: 338px;
  height: 460px;
  height: auto!important;
  max-height: 460px;
  padding: 10px;
  z-index: 5000;
  top: 10px;
  left: 10px;
  overflow: auto;
  }
  .wax-tooltip h2 {
    font-size: 16px;
    margin: 10px 0 0;
    }
  .wax-tooltip h3 {
    margin: 0 0 10px;
    }

/*-----------------------------------
  Share.
-------------------------------------*/
#overlay {
  display: none;
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.30);
  z-index: 9999;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  }
  #overlay.active {
    top: 0;
    display: block;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    }

/* Modal windows */
.modal {
  background: #fff;
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 9999;
  width: 480px;
  margin-left: -240px;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  }
  .modal .inner {
    padding: 5px 10px 10px;
    }
  .modal.active {
    top: 20%;
    }
  #share h3 {
    font-weight: bold;
    }
  #share small {
    display: block;
    }
   #share textarea {
    font-family: 'Menlo Regular',Consolas,monospace;
    resize: none;
    margin: 10px 0 5px;
    padding: 10px;
    color: #333;
    line-height: 20px;
    width: 430px;
    }
  #twitter,
  #facebook {
    display: inline-block;
    position: relative;
    padding: 2px 15px;
    background: #fff;
    color: #fff;
    font-weight: bold;
    border: 2px solid #999;
    }
  #twitter {
    background: #0ac;
    border-color: #4ce;
    }
  #facebook {
    background: #359;
    border-color: #68c;
    }
a.close {
  background-color: #333;
  background-position: -220px 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  }

/* --------------------------------------
  Sidebar
----------------------------------------- */
ul.layers {
  margin: 40px 0 20px;
  }
  ul.layers li a{
    color: #a4a4a4;
    border-top: 1px solid #D4D4D0;
    display: block;
    height: 29px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 11px;
    overflow: hidden;
    font-weight: bold;
    }
    ul.layers li.last a { border-bottom: 1px solid #d4d4d0; }
    ul.layers li.active {
      background: none;
      }
    ul.layers li a:hover {
      color: #999;
      }
    ul.layers li.active a{
      background: fafaf8;
      border-color: #a0a0a0;
      color: #333;
      }
      ul.layers li.active a:after {
        background: transparent url(images/arrow-left.png) no-repeat 0 0;
        position: absolute;
        content: '';
        margin-top: -1px;
        left: -19px;
        width: 20px;
        height: 30px;
        }
      ul.layers li a span {
        float: right;
        width: 30px;
        height: 30px;
        margin-top: -1px;
        margin-right: 1px;
        }
        ul.layers li a#ret span { background-position: -210px -55px; }
        ul.layers li a#idp span { background-position: -210px -20px; }
        ul.layers li a#lra span { background-position: -210px -125px; }
        ul.layers li a#sec span { background-position: -210px -90px; }

.more {
  padding: 10px;
  }
.disclaimer {
  position: absolute;
  width: 100%;
  bottom: 0;
  }
  .disclaimer-inner {
    background: #fff8e0;
    border-top: 1px solid #E7DFCA;
    color: #666;
    padding: 10px;
    height: 60px;
    height: auto!important;
    max-height: 80px;
    overflow: hidden;
    }

/* --------------------------------------
  Time Slider
----------------------------------------- */
.dragdealer {
  position: relative;
  float: left;
  height: 60px;
  }
  .dragdealer .handle {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    }
  .dragdealer .bar {
    background: transparent url(images/sprite.png) no-repeat 0 -40px;
    width: 85px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.30);
    bottom: -1px;
    line-height: 65px;
    font-weight: bold;
    text-align: center;
    height: 55px;
    }

/* --------------------------------------
  Footer
----------------------------------------- */
#footer {
  background: #fff;
  height: 40px;
  line-height: 40px;
  }
  #footer ul {
    margin-left: 10px;
    }
    #footer ul li {
      float: left;
      }
      #footer ul li a {
        font-weight: 500;
        color: #999;
        margin-right: 10px;
        }

/*-----------------------------------
  Misc.
-------------------------------------*/

/*Loading DIV*/
.loading {
  position: fixed;
  left: 50%;
  top: 360px;
  width: 80px;
  height: 45px;
  padding: 25px 0 0;
  margin: 0 0 0 -50px;
  z-index: 99999;
  }

/* --------------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
----------------------------------------- */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

/*-----------------------------------
  CSS Animations
-------------------------------------*/
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .3s;
  }
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
